*{
    font-family: "Lexend", sans-serif;
}
.Schedule {
    display: flex;
    flex-direction: column; 
    justify-content: center; 
    align-items: center; 
    height: 100%; 
    background-color: #2C2C2C;
}