/* TaskBar.css */
.task-bar {
  margin-bottom: 8px;
  padding: 10px;
  background-color: #f4f4f4;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.task-bar-content {
  background-color: #f4f4f4;
}

.task-bar-content.dragging {
  background-color: black;
}
